<div class="popup" #container>
    <div class="popup-axis">
        <span class="icon">
            <i class="fa fa-info-circle"></i>
        </span>
    </div>
    <div class="popup-content">
        <a (click)="closePopup()" class="delete"></a>
        <ng-container *ngIf="(getGeoCoordinates(position)) as coords">
            <div>{{coords[0] | longitude:'dms' }} {{coords[1] | latitude:'dms'}}</div>
        </ng-container>
        <div>
            <i *ngIf="data.status == 'loading'" class="fa fa-refresh fa-spin"></i>
            <div [innerHTML]="data.value" *ngIf="data.status == 'ready'">
                
            </div>
            <a *ngIf="showTimeseriesButton" (click)="onTimeSeriesClick()"><span class="icon is-small"><i class="fa fa-line-chart"></i></span></a>
        </div>
    </div>
</div>