<div id="map" ng-controller="MapCtrl">
    <md-menu id="mapMenu">
        <button type="button"
                class="btn btn-control map-item map-type"
                ng-click="$mdOpenMenu($event)"
                aria-label="Menu"
                title="{{mapType.active}} (Map Layer)">
            <i class="material-icons">layers</i>
        </button>
        <md-menu-content id="map-layer">
            <md-menu-item ng-class="{'active': backgroundLayer == 'Open Street'}">
                <md-button ng-click="setBackgroundLayer('OSM')" aria-label="Open Street Map">Open Street Map</md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'active': backgroundLayer == 'MapBox'}">
                <md-button ng-click="setBackgroundLayer('MB')" aria-label="MapBox Map">MapBox Map</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
            
    <button type="button"
        class="btn btn-control map-item map-reset"
        ng-click="clearMap()"
        title="Clear Map"
        aria-label="Clear Map">
    <i class="material-icons">layers_clear</i>
    </button>

    <section id="footer">
            <a href="https://github.com/cgi-eoss/fstep/blob/development/LICENSE.txt">GNU Affero General Public License v3.0</a>
            <a href="https://github.com/cgi-eoss/fstep"><img src="images/github.ico" alt="Github Source Code"></a>
    </section>
</div>