<div id="job">

   <section class="filter-list">
        <ul class="list">


            <md-input-container>
                <label>Filter</label>
                <input ng-model="jobParams.searchText" type="text" placeholder="Search" ng-keyup="filter()" aria-label="Jobs Search Filter">
            </md-input-container>

            <md-input-container>
                <label>Job Status</label>
                <md-select ng-model="jobParams.selectedStatuses" ng-change="filter()" multiple placeholder="Job Status">
                    <md-optgroup label="Statuses">
                        <md-option ng-repeat="jobStatus in jobStatuses"
                                   ng-value="jobStatus.name"
                                   aria-label="Job Filter">
                            {{jobStatus.title}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-input-container class="md-input-has-value">
                <label>Ownership</label>
                <md-radio-group ng-model="jobParams.selectedOwnershipFilter" ng-change="filter()">
                    <md-radio-button ng-repeat="ownershipFilter in jobOwnershipFilters" ng-value="ownershipFilter">
                        {{ownershipFilter.name}}
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>

            <md-chips readonly="true" md-removable="true" ng-if="jobParams.parentId">
                <md-chip>
                    <div class="md-chip-content">Parent job ID: {{jobParams.parentId}}</div>
                    <button class="md-chip-remove" ng-click="setParentJobFilter(null)"><i class="material-icons">close</i></button>
                </md-chip>
            </md-chips>
        </ul>
    </section>

    <article ng-if="jobParams.jobs.length == 0" class="note ng-scope" style="">No jobs matching criteria</article>

    <section class="item-list" ng-if="jobParams.jobs.length > 0">

        <md-list-item class="md-3-line"
                      ng-repeat="job in jobParams.jobs"
                      ng-click="selectJob(job)"
                      ng-class="{active: job.id == jobParams.selectedJob.id}">

            <div class="md-avatar" alt="{{job.stage}}" style="{{getColor(job.status)}}" ng-click="selectJob(job)">
                <i class="material-icons" ng-if="job.status === 'COMPLETED'">done</i>
                <i class="material-icons" ng-if="job.status === 'ERROR'">error</i>
                <i class="material-icons" ng-if="job.status === 'RUNNING'">hourglass_empty</i>
            </div>

            <div class="md-list-item-text" layout="row" ng-click="selectJob(job)">
                <div class="col-md-12 no-padding">
                    <h3>Job ID: {{job.id}} ({{job.serviceName}})</h3>
                    <h4>Start: {{job.startTime | formatDateTime}}</h4>
                </div>
            </div>

            <md-button class="toolbar-button md-secondary"
            ng-show="job.parent"
            ng-click="setParentJobFilter(job)"
            aria-label="View subjobs"
            uib-tooltip="View subjobs"
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            tooltip-append-to-body="true">
                <i class="material-icons">subdirectory_arrow_right</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                    aria-label="Job Info"
                    uib-popover-template="'views/common/templates/jobinfo.tmpl.html'"
                    popover-placement="left"
                    popover-trigger="'mouseenter'"
                    popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="hasGuiEndPoint(job)"
                       href="{{job._links.gui.href}}"
                       target="_blank"
                       aria-label="Go to GUI"
                       uib-tooltip="Go to GUI"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">exit_to_app</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="shareObjectDialog($event, job, 'job', 'JobService', 'refreshSelectedJob')"
                       has-permission="ADMIN" permission-source="{{job}}"
                       aria-label="Share"
                       uib-tooltip="Share"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">share</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="repeatJob(job)"
                       aria-label="Re-run"
                       uib-tooltip="Edit and re-run"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">replay</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-if="job._links.terminate && !job.systematicParameter"
                       has-permission="ADMIN" permission-source="{{job}}"
                       ng-click="terminateJob(job)"
                       aria-label="Terminate"
                       uib-tooltip="Terminate this job"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">stop</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-if="job._links.cancel && !job.systematicParameter"
                        has-permission="ADMIN" permission-source="{{job}}"
                        ng-click="cancelJob(job)"
                        aria-label="Cancel"
                        uib-tooltip="Cancel this job"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">close</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="routeToManagePage(job)"
                       uib-tooltip="Open in Manage/Share"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
               <i class="material-icons">call_made</i>
            </md-button>

        </md-list-item>

        <div id="paging" fstep-paging="{{jobParams.pagingData}}"></div>

    </section>

</div>
