<div id="messages">

   <section class="filter-list">
        <ul class="list">
            <md-input-container class="md-input-has-value">
                <label>Type</label>
                <md-checkbox ng-repeat="messageStatus in msgParams.messageStatuses" ng-model="messageStatus.value"
                             ng-change="filterMessages()"
                             aria-label="Message Filter">{{messageStatus.name}}</md-checkbox>
            </md-input-container>

        </ul>
    </section>

    <section class="item-list list">

            <md-list-item class="md-2-line"
                          ng-repeat="message in messages | orderBy: '-time'"
                          ng-show="filteredMessages.indexOf(message.status) > -1"
                          ng-click="selectMessage(message)"
                          ng-class="{active: message.id == msgParams.selectedMessage.id}">

                <div class="md-avatar" alt="{{message.attributes.step}}" style="{{getColor(message.status)}}">
                    <i class="material-icons" ng-if="message.status === 'Error'">error</i>
                    <i class="material-icons" ng-if="message.status === 'Warning'">warning</i>
                    <i class="material-icons" ng-if="message.status === 'Info'">info</i>
                </div>

                <div class="md-list-item-text" layout="column">
                    <h3>{{message.title}}</h3>
                    <h4>{{message.time}}</h4>
                </div>

                <md-button class="toolbar-button md-secondary"
                           ng-click="clearMessage($event, message)"
                           aria-label="Clear"
                           uib-tooltip="Clear"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">clear</i>
                </md-button>

            </md-list-item>

    </section>

</div>
