@import "../../../css/bulma-theme.sass";
@import "~bulma/sass/components/navbar.sass";

.navbar .navbar-item.has-dropdown.is-right .navbar-dropdown {
    left: auto;
    right: 0;
}

.navbar-brand .navbar-item {
    padding: 0 0.5rem;
}

.navbar-brand .navbar-item img {
    max-height: 50px;
    padding: 5px;
}

.navbar .navbar-item {
    border-right: solid 1px #d2d2d2;
}

/*
.navbar-brand {
    background-color: #ee7421;
}

.navbar-menu {
    transform: scaleY(0); 
    background-color: #ee7421;
    transform-origin: top;
    transition: 0.5s;
}

.navbar-menu.is-active {
    transform: scaleY(1); 
}
*/