<md-toolbar md-scroll-shrink class="sidebar-subheader">
    <div class="md-toolbar-tools">
        <div class="col-xs-12">
            <span>Files</span>
        </div>
    </div>
</md-toolbar>

<section id="sidebar-list">

    <section class="filter-list">
        <ul class="list">


            <md-input-container>
                <label>Filter</label>
                <input ng-model="fileParams.searchText" type="text" placeholder="Search" ng-keyup="filter()" aria-label="Search Filter">
            </md-input-container>

            <md-input-container class="md-input-has-value">
                    <label>File type</label>
                    <md-radio-group ng-model="fileParams.activeFileType" ng-change="filter()">
                        <md-radio-button ng-repeat="filetype in filetypes" ng-value="filetype.value">
                            {{filetype.name}}
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>

            <md-input-container class="md-input-has-value">
                <label>Ownership</label>
                <md-radio-group ng-model="fileParams.selectedOwnershipFilter" ng-change="filter()">
                    <md-radio-button ng-repeat="ownershipFilter in fileOwnershipFilters" ng-value="ownershipFilter">
                        {{ownershipFilter.name}}
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>



            <md-input-container ng-if="fileParams.activeFileType === 'OUTPUT_PRODUCT'">
                <label>Collection</label>
                <md-autocomplete
                    md-input-name="collection"
                    md-items="collection in searchCollection(fileParams.collection)"
                    md-search-text="fileParams.collectionSearchString"
                    md-selected-item="fileParams.collection"
                    md-select-on-match="true"
                    md-item-text="collection.name"
                    md-require-match="true"
                    md-delay="500"
                    md-min-length="0"
                    md-selected-item-change="filter()">
                    <md-item-template>
                        <span md-highlight-text="fileParams.collectionSearchString"
                            md-highlight-flags="ig">{{collection.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No collection matching "{{fileParams.collectionSearchString}}" found
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>

            <md-input-container ng-if="fileParams.activeFileType === 'OUTPUT_PRODUCT'">
                <label>Job ID</label>
                <input ng-model="fileParams.job" type="text" placeholder="Job ID" ng-keyup="filter()" aria-label="Jobs Search Filter">
            </md-input-container>

        </ul>
    </section>

    <div class="row" ng-if="!fileParams.files.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">No files found. To add a Reference file use the + button below.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="fileParams.files.length > 0">
        <md-list-item class="md-2-line"
                      ng-repeat="(key, file) in fileParams.files"
                      ng-click="selectFile(file)"
                      ng-class="{active: file.id == fileParams.selectedFile.id}">

            <div class="md-list-item-text" layout="column">
                <h4 ng-bind="file.filename" />
                <span><b>Owner:</b> <span ng-bind="file.owner.name" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       aria-label="File Info"
                       uib-popover-template="'views/common/templates/fileinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-click="downloadItem(event, file)"
                        aria-label="Download"
                        uib-tooltip="Download"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">file_download</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeItem(event, key, file)"
                       aria-label="Delete"
                       uib-tooltip="Delete"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">delete</i>
            </md-button>

        </md-list-item>

        <div id="paging" fstep-paging="{{fileParams.pagingData}}"></div>

    </div>

</section>

<section id="add-file">
    <md-button id="add-file-button"
               class="icon-button md-icon-button md-fab md-mini"
               ng-click="addReferenceFileDialog($event)"
               aria-label="Add New Reference {{item}}"
               uib-tooltip="Add New Reference {{item}}"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add</i>
    </md-button>
</section>
