<md-toolbar md-scroll-shrink class="sidebar-subheader">
    <div class="md-toolbar-tools">
        <div class="col-xs-12">
            <span>Jobs</span>
        </div>
    </div>
</md-toolbar>

<section id="sidebar-list">

    <section class="filter-list">
            <ul class="list">


                <md-input-container>
                    <label>Filter</label>
                    <input ng-model="jobParams.searchText" type="text" placeholder="Search" ng-keyup="filter()" aria-label="Jobs Search Filter">
                </md-input-container>

                <md-input-container>
                    <label>Job Status</label>
                    <md-select ng-model="jobParams.selectedStatuses" ng-change="filter()" multiple placeholder="Job Status">
                        <md-optgroup label="Statuses">
                            <md-option ng-repeat="jobStatus in jobStatuses"
                                       ng-value="jobStatus.name"
                                       aria-label="Job Filter">
                                {{jobStatus.title}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-input-has-value">
                    <label>Ownership</label>
                    <md-radio-group ng-model="jobParams.selectedOwnershipFilter" ng-change="filter()">
                        <md-radio-button ng-repeat="ownershipFilter in jobOwnershipFilters" ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
                    <label>Input filename</label>
                    <input ng-model="jobParams.inputFilename" type="text" placeholder="Input name" ng-keyup="filter()">
                </md-input-container>

                <div>
                    <md-input-container style="margin-top: 5px;">
                        <md-checkbox ng-model="jobParams.dateFilter.enabled" ng-change="filter()">Date range</md-checkbox>
                    </md-input-container>
                    <date-range-field ng-if="jobParams.dateFilter.enabled" value="jobParams.dateFilter" on-change="filter()"></date-range-field>
                </div>
                <md-chips readonly="true" md-removable="true" ng-if="jobParams.parentId">
                    <md-chip>
                        <div class="md-chip-content">Parent job ID: {{jobParams.parentId}}</div>
                        <button class="md-chip-remove" ng-click="setParentJobFilter(null)"><i class="material-icons">close</i></button>
                    </md-chip>
                </md-chips>
            </ul>
        </section>

    <div class="row" ng-if="!jobParams.jobs.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">No jobs found.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="jobParams.jobs.length > 0">
        <md-list-item class="md-3-line"
                      ng-repeat="(key, job) in jobParams.jobs"
                      ng-click="selectJob(job)"
                      ng-class="{active: job.id == jobParams.selectedJob.id}">

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable" ng-bind="'Job: ' + job.id" />
                <span ng-if="job.startTime"><b>Start:</b> <span ng-bind="job.startTime" /></span>
                <span ng-if="job.stage"><b>Stage:</b> <span ng-bind="job.stage" /></span>
                <span>
                    <b>Status:</b>
                    <span ng-bind="job.status" />
                    <span style="{{getColorForStatus(job.status)}};display:inline-block;margin-top:-3px;margin-left:2px;vertical-align:middle;">
                        <i class="material-icons" ng-if="job.status === 'CREATED'">pause</i>
                        <i class="material-icons" ng-if="job.status === 'COMPLETED'">done</i>
                        <i class="material-icons" ng-if="job.status === 'ERROR'">error</i>
                        <i class="material-icons" ng-if="job.status === 'RUNNING'">hourglass_empty</i>
                    </span>
                </span>
            </div>

            <md-button class="toolbar-button md-secondary"
            ng-show="job.parent"
            ng-click="setParentJobFilter(job)"
            aria-label="View subjobs"
            uib-tooltip="View subjobs"
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            tooltip-append-to-body="true">
                <i class="material-icons">subdirectory_arrow_right</i>
            </md-button>



            <md-button class="toolbar-button md-secondary"
                       aria-label="Job Info"
                       uib-popover-template="'views/common/templates/jobinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-click="cloneJob(job)"
                        aria-label="clone job"
                        uib-tooltip="Clone job"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">filter_none</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-if="job.status === 'ERROR'"
                        ng-click="retryJob(job)"
                        aria-label="retry job"
                        uib-tooltip="Retry job"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">replay</i>
            </md-button>


            <md-button class="toolbar-button md-secondary"
                        ng-if="job._links.terminate && !job.systematicParameter"
                        has-permission="ADMIN" permission-source="{{job}}"
                        ng-click="terminateJob(job)"
                        aria-label="Terminate"
                        uib-tooltip="Terminate this job"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">stop</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-if="job._links.cancel && !job.systematicParameter"
                        has-permission="ADMIN" permission-source="{{job}}"
                        ng-click="cancelJob(job)"
                        aria-label="Cancel"
                        uib-tooltip="Cancel this job"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">close</i>
            </md-button>

        </md-list-item>

        <div id="paging" fstep-paging="{{jobParams.pagingData}}"></div>

    </div>

</section>
