<md-dialog id="item-dialog" aria-label="Create {{item}} dialog">
    <h4>Add {{item}}</h4>
    <md-dialog-content>
        <form name="createItemForm">
            <div class="dialog-content-area">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input ng-model="newItem.name" md-autofocus type="text" aria-label="Item Name" maxlength="16" required>
                </md-input-container>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>File type</label>
                    <md-select ng-model="newItem.fileType" required>
                        <md-option ng-repeat="type in data.fileTypes" ng-value="type.value">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Data type</label>
                    <input ng-model="newItem.productsType" type="text" aria-label="Data type" required>
                </md-input-container>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Description</label>
                    <textarea ng-model="newItem.description" />
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addItem()" ng-disabled="createItemForm.$invalid" class="md-primary">Create</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
