<div #container class="list_container">
    <section>
        <div [@fadeIn]="processors.length">
            <div class="tile is-ancestor">
                <div class="tile is-3 is-parent" *ngFor="let processor of processors" >
                    <div class="tile is-child" >
                        <div class="card" (click)="onProcessorSelect(processor, $event)" [ngClass]="{'is-active': processor == processorsService.getActiveProcessor()}">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{processor.name}}
                                </p>
                            </header>

                            <div class="card-content">
                                <figure class="image is-pulled-left" *ngIf="processor.thumb">
                                    <img src="{{processor.thumb}}" alt="Image">
                                </figure>
                                <p [innerHTML]="processor.description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
