@import "../../../css/variables.sass";

:host {
    position: absolute;
    background: white;
    bottom: 50px;
    left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px $brand-dark;
    width: 70%;
    height: 300px;
}

.delete {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}