@import "../../../css/bulma-theme.sass";

:host /deep/ .area {
    fill: none;
    clip-path: url(#clip);
    stroke: $accent;
    stroke-width: 3px;
  }
  
  :host /deep/ .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  
  .tooltip {
      position: absolute;
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
      display: none;
  }
  
  :host /deep/ {  
    .overview {
      @include mobile {
        display: none;
      }
    }

    .y-label {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }