@import "../../../css/bulma-theme.sass";
@import "~bulma/bulma.sass";
@import 'gemini-scrollbar/gemini-scrollbar.css';
@import 'flatpickr/dist/flatpickr.min.css';


html {
    overflow: hidden;
}

body {
    font-family: roboto;
    font-size: 14px;
    overflow: hidden;
}

.main-content {
    max-height: calc(100vh - 60px);
}

breadcrumb {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.81);
    display: block;
    border-bottom: solid 1px;
}

.gm-scrollbar .thumb, {
  background-color:rgba(238, 116, 33, 0.5);
}
.gm-scrollbar .thumb:hover,
.gm-scrollbar .thumb:active {
  background-color: #ee7421;
}

.flatpickr-day.selected {
    background-color: #ee7421;
}